html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.f_left {
	float: left;
}

.f_right {
	float: right;
}

a {
    text-decoration: none;
	color: inherit;
}

img {
	width: 100%;
	height: 100%;
	display: block;
}

h1,h2,h3,h4,h5 {
	font-weight: normal;
	margin: 0;
}

.box-flex{
	display: flex;
}
.pre-show,
.version{
	background-size: contain;
    background-repeat: no-repeat;
    height: 43px;
    width: 14px;
    display: inline-block;
    margin-top: 5px;
    flex: 0 0 auto;
    margin-right: 3px;
}
.line-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.one-line{
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mb-outline-b{
	background: url(../images/repeat-x-bottom-outline.png) 0 bottom repeat-x;
	background-size: 1px 1px;
}
.show-info,
.actor,
.score-suffix {
	font-size: 13px;
	color: #666;
}
#app,
.container {
	min-width: 375px;
    max-width: 750px;
	height: 100%;
	margin:  0 auto;
}
html,
body{
	width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.city-list-inline .city-item,.city-list-inline .location-city{
	float: left;
    background: #fff;
    width: 29%;
    height: 33px;
    margin-top: 15px;
    margin-left: 4%;
    padding: 0 4px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    line-height: 33px;
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	font-size: 14px;
}
.city-title{
	padding-left: 15px;
	line-height: 30px;
}
.city-list{
	padding-right: 30px;
}
.city-title-letter{
	padding-left: 25px;
}
.city-list-block{
	background-color: #f5f5f5;
}
.city-list-block .city-item {
	height: 44px;
    line-height: 44px;
    margin-left: 15px;
    border-bottom: 1px solid #c8c7cc;
}
.city-list-block .city-item:last-child{
	border-bottom: none;
}
.box-flex{
	display: flex;
}
.allowRefund,.endorse, .hallType{
	color: #589daf;
    border: 1px solid #589daf;
}
.vipTag,.snack{
	color: #f90;
    border: 1px solid #f90;
}
p{
	margin: 0;
}